#sc_second_step_form div, #sc_second_step_form p { display: block; }
#sc_second_step_form span, #sc_second_step_form label { display: inline; }

#sc_second_step_form * { box-sizing: border-box; }

#sc_second_step_form {
	position: relative;
	font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	word-wrap: break-word;
	color: #6d6d6d;
}

#sc_second_step_form #sc_loader_background {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9999;
	background: rgba(0,0,0,0.5);
}

#sc_second_step_form #sc_loader_background .sc_modal {
	position: relative;
	width: 100%;
	background: white;
	max-width: 600px;
	margin: 60px auto;
	font-size: 1rem;
	padding: 30px;
	text-align: center;
}

#sc_second_step_form #sc_loader_background .sc_header {
	text-align: right;
	font-size: 1.375rem;
}

#sc_second_step_form #sc_loader_background .sc_content {
	margin-top: 40px;
	margin-bottom: 40px;
}

#sc_second_step_form #sc_loader_background .sc_header span {
	font-weight: bolder;
	cursor: pointer;
}

#sc_second_step_form #sc_loader_background img {
	max-width: 18px;
	display: inline;
}

#sc_second_step_form .woocommerce-error, #content .woocommerce-warning {
	background-color: #e2401c;
	list-style: none;
	padding: 1em 1.618em;
	margin-bottom: 2.617924em;
	margin-left: 0;
	border-radius: 2px;
	color: #fff;
	clear: both;
	border-left: 0.6180469716em solid rgba(0, 0, 0, 0.15);
}

#content .woocommerce-warning {
	background-color: orange;
}

#sc_second_step_form h3 {
	color: #333333;
	clear: both;
	font-weight: 300;
	margin: 0 0 0.5407911001em;
	font-size: 1.618em;
}

#sc_second_step_form button, #sc_second_step_form input, #sc_second_step_form textarea {
    font-weight: 400;
}
	
#sc_second_step_form #sc_upos_list, #sc_second_step_form #sc_apms_list, #sc_second_step_form #nuvei_apple_pay {
	margin: 0.5em 0 1.4em 0;
	list-style: none;
	padding: 0;
}

#sc_second_step_form .apm_container, #sc_second_step_form .upo_container {
	padding: 1rem 0 0 0;
	font-weight: 400;
}

#sc_second_step_form .apm_title, #sc_second_step_form .upo_title {
	padding-bottom: 0.5em;
	cursor: pointer;
	font-weight: 400;
}

#sc_second_step_form input[type="checkbox"], #sc_second_step_form input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

#sc_second_step_form .apm_title input,
#sc_second_step_form .apm_title span,
#sc_second_step_form .upo_title input {
    vertical-align: middle;
	width: auto;
	outline: none;
}

#sc_second_step_form .apm_title img, #sc_second_step_form .upo_title img {
	float: none;
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
}

#sc_second_step_form .apm_fields, #sc_second_step_form .upo_fields {
	display: none;
	margin-top: 10px;
	margin-left: 32px;
}


#sc_second_step_form .apm_fields input, #sc_second_step_form .upo_fields input {
	margin-bottom: 10px;
	width: 100%;
}

#sc_second_step_form .SfcField {
	margin-bottom: 10px;
	padding: 0.6180469716em;
	color: #43454b;
	border: 1px solid gray;
	background: none;
	-webkit-appearance: none;
	font-weight: normal;
}

.SfcField img {
	margin: 0 auto;
	max-width: 15px;
}

#sc_second_step_form #sc_upos_list .SfcField { max-width: 100px; }

#sc_second_step_form .SfcField iframe {
	min-height: 20px !important;
	color: inherit !important;
}

#sc_second_step_form #sc_card_holder_name,
#sc_second_step_form #sc_card_holder_name::placeholder,
#sc_second_step_form .apm_fields input,
#sc_second_step_form .apm_fields input::placeholder {
	font-family: sans-serif !important;
	color: #52545A !important;
	font-size: 15px;
	border: 1px solid gray;
	background: none;
	border-radius: 0;
	padding: 0.6180469716em;
	outline: none;
}

#sc_second_step_form #sc_card_holder_name::placeholder,
#sc_second_step_form .apm_fields input::placeholder {
	text-transform: capitalize;
	border: none;
}

#sc_second_step_form a.button, #sc_second_step_form button {
	width: auto;
	line-height: 0.6;
	font-size: 15px;
	padding: 16px 20px;
	font-weight: 400;
	text-decoration: none;
}

#sc_second_step_form a.button {
	background-color: #d5d5d5;
	border-color: #d5d5d5;
	color: #333333;
}

#sc_second_step_form button {
	background-color: #333333;
	border-color: #333333;
	color: #ffffff;
	width: 100%;
	font: inherit;
    font-weight: inherit;
	font-weight: 600;
	font-size: 1.41575em;
}

#sc_second_step_form button:hover {
	background-color: #1a1a1a;
	border-color: #2c2d33;
	color: #ffffff;
}

#sc_second_step_form span, #sc_second_step_form #nuvei-apple-pay-button {
	display: none;
	background: none;
	width: auto;
	padding: 0;
	border-radius: 6px;
}

#sc_second_step_form span, #sc_second_step_form #nuvei-apple-pay-error 
{ display: none; }

#sc_second_step_form .apm_title span
{ display: inline-block; }

/* for the 3DS modal */
.sfcModal-dialog {
	width: 50%;
	margin: 0 auto;
	margin-top: 10%;
}

#sc_reorder_btn {
	width: 100%;
	font-size: 1.41575em;
	background-color: #333333;
	/*border-color: #333333;*/
	color: #ffffff;
	border: 0;
	border-radius: 0;
	/*background: none;*/
	cursor: pointer;
	padding: 0.6180469716em 1.41575em;
	text-decoration: none;
	font-weight: 600;
	text-shadow: none;
	-webkit-appearance: none;
	margin: 0;
	font-family: "Source Sans Pro", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	line-height: 1.618;
	text-rendering: optimizeLegibility;
	text-transform: none;
	overflow: visible;
	box-sizing: border-box;
	word-wrap: break-word;
	text-align: center;
}

#sc_reorder_btn:hover {
	background-color: #1a1a1a;
	border-color: #1a1a1a;
	color: #ffffff;
}

.nuvei_plan_order {
	background-image: url(/wp-content/plugins/nuvei_checkout_woocommerce/assets/icons/subscription.png);
	background-size: 17px;
	background-repeat: no-repeat;
	background-position: right center;
	padding-right: 20px;
}