/* the styles for the Order details ::START */
#woocommerce-product-data ul.wc-tabs li.sc_subscr_tab a::before {
	content: '\f18e';
}

#_sc_subscr_recurr_amount,
#_sc_subscr_recurr_period,
#_sc_subscr_trial_period,
#_sc_subscr_end_after_period {
	-moz-appearance: textfield !important;
}

#_sc_subscr_recurr_amount::-webkit-outer-spin-button,
#_sc_subscr_recurr_amount::-webkit-inner-spin-button,
#_sc_subscr_recurr_period::-webkit-outer-spin-button,
#_sc_subscr_recurr_period::-webkit-inner-spin-button,
#_sc_subscr_trial_period::-webkit-outer-spin-button,
#_sc_subscr_trial_period::-webkit-inner-spin-button,
#_sc_subscr_end_after_period::-webkit-outer-spin-button,
#_sc_subscr_end_after_period::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.nuvei_checkout_settings_cont { display: none; }

#woocommerce_nuvei_notify_url {
    display: none;
}
/* the styles for the Order details ::END */

/* the styles for terms form ::START */
#nuvei_plan_attr_terms input {
    -moz-appearance: textfield !important;
}

#nuvei_plan_attr_terms input::-webkit-outer-spin-button,
#nuvei_plan_attr_terms input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select.nuvei_units {
    float: left;
    margin-right: 10px;
}

input.nuvei_periods {
    width: auto !important;
}
/* the styles for the terms form ::END */

/* the styles for edit terms form ::START */
.nuvei_meta_fileds input {
    -moz-appearance: textfield !important;
}

endAfter.nuvei_meta_fileds input::-webkit-outer-spin-button,
endAfter.nuvei_meta_fileds input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select.nuvei_units {
    float: left;
    margin-right: 10px;
}

th {
    text-align: left;
}
/* the styles for edit terms form ::END */

/* For the messages in the Help Tools */
.description .nuvei_payments_msg {
    display: grid !important;
    grid-template-columns: auto auto; /* Two columns: one for the child span and one for the button */
    align-items: center; /* Aligns children vertically in the center */
    column-gap: 10px;
    padding-right: 0px !important;
    margin-top: 0px !important;
}

.description .nuvei_payments_msg span:first-child {
    text-align: left;
}

.description .nuvei_payments_msg .notice-dismiss {
    justify-self: end;
    position: relative !important;
}

/* style for the Nuvei Payment column in the Orders list */
/* .nuvei-payment-ok { */
/*     position: relative; */
/* } */

.nuvei-payment-ok.dashicons-yes {
    color: green;
    cursor: pointer;
}

.nuvei-payment-tooltip {
    position: absolute;
    margin-left: 30px;
    z-index: 1000;
    background: #1e1e1e;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
    font-size: 12px;
    max-width: 260px;
    display: none;
    cursor: default;
}

.nuvei-tooltip-close {
    position: absolute;
    top: 4px;
    right: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    line-height: 1;
    color: #666;
}